@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
img{
    width: 100vw;   
}
a{
    display: block;
    background-color: lightgreen;
    padding: 13px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.315);
    font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color: rgb(61, 61, 61);
    text-decoration: underline;
    background-color: rgb(104, 236, 104);
}